# Ambiente Virtual
venv/
env/
.env

# Python (Arquivos compilados)
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook (Arquivos temporários)
.ipynb_checkpoints
*/.ipynb_checkpoints/*


# Ignorar arquivos temporários e de sistema, mas MANTER os dados do projeto
data/**/.DS_Store
data/**/Thumbs.db

